# Mac OS System Files
.DS_Store

# Python Files
*__pycache__
*.pytest_cache
*.pyc
*.python-version

# VS Code Files
.vscode/
*.code-workspace

# PyCharm Files
.idea/

# Jupyter Notebook Files
.ipynb_checkpoints/
.ipynb_checkpoints

# Domino Files
*.dominokeep

# Other
venv
*.xml
*.iml

*.egg-info
